<div class="body">

    <div class="header">
        <h1>Upgrade Your Site with a Premium Plan</h1>
        <h2>14 Days Money Back Guarntee on all Premim Plans</h2>
        <!-- Breadcrumbs -->
        <div class="bread" *ngIf="!completedPurchase">
            <span>1. Select a Premium Plan</span><span><b>2. Select a Subscription Period</b></span><span>3.Your Purchase Completed</span>
        </div>
        <div class="bread" *ngIf="completedPurchase">
            <span>1. Select a Premium Plan</span><span>2. Select a Subscription Period</span><span><b>3. Your Purchase Completed</b></span>
        </div>
        <div class="back" (click)="goBack()"><span>Plans</span></div>
    </div>

    <!-- Step 2 -->
    <div class="step step2" style="display: flex; opacity: 1;">
        <!-- Subscription -->
        <div class="--subscription"
             style="opacity: 1; transform: translateX(0px); transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <h2>Select a Subscription Period</h2>
            <!-- Radio Buttons Group -->
            <div class="radioWrapp">
                <div class="singleRadio">
                    <input data-radio="Monthly" data-package="" (click)="onPeriodSelected('Monthly')" type="radio"  checked="checked" name="radios"
                           id="monthy--radio"/>
                    <label for="monthy--radio"><strong>Monthly</strong>
                        <hr>
                        ${{plan?.fee}} every month</label>
                </div>
                <div class="singleRadio">
                    <input data-radio="Yearly" data-package="" (click)="onPeriodSelected('Yearly')" type="radio"
                           name="radios" id="yearly--radio"/>
                    <label for="yearly--radio"><strong>Yearly</strong>
                        <hr>
                        ${{annualFee}} × 12 months
                        <small>|</small>
                        <span>Save {{annualSaving}}</span><span class="badge strong">Most Popular</span></label>
                </div>
                <!--<div class="singleRadio">-->
                    <!--<input data-radio="2 Years" onclick="cycleCheck(this)" type="radio" name="radios"-->
                           <!--id="2years&#45;&#45;radio"/>-->
                    <!--<label for="2years&#45;&#45;radio"><strong>2 Years</strong>-->
                        <!--<hr>-->
                        <!--$11.00 × 24 months-->
                        <!--<small>|</small>-->
                        <!--<span>Save $120</span></label>-->
                <!--</div>-->
                <!--<div class="singleRadio">-->
                    <!--<input data-radio="3 Years" onclick="cycleCheck(this)" type="radio" name="radios"-->
                           <!--id="3years&#45;&#45;radio"/>-->
                    <!--<label for="3years&#45;&#45;radio"><strong>3 Years</strong>-->
                        <!--<hr>-->
                        <!--$10.00 × 36 months-->
                        <!--<small>|</small>-->
                        <!--<span>Save $216</span></label>-->
                <!--</div>-->
            </div>
            <!-- Radio Buttons Grou - End -->
            <!--<div class="price&#45;&#45;full">-->
                <!--<div><h5>Plan Price</h5></div>-->
                <!--<div><span class="badge">Save $24 Every year</span> <h5>$168.00</h5>-->
                <!--</div>-->
            <!--</div>-->

            <div class="detPurchase">
                <ul class="summary">
                    <li><b>{{plan.title}} - {{selectedPeriod}} Plan</b>
                        <span class="c"><span class="badge" *ngIf="selectedPeriod == 'Yearly'">Save {{annualSaving}} Every year</span>$ {{originalFee}}</span>
                    </li>
                    <li><b><small>Enter Promo Code</small></b> <span class="c" *ngIf="promoDiscount!=1">$ {{finalFee}}</span></li>
                    <li><b>HST (13.00%)</b>
                        <span class="c">$ {{HST}}</span>
                    </li>
                    <li><b>Total</b>
                        <span class="c">$ {{totalFee}}</span>
                    </li>
                </ul>
            </div>

            <button (click)="openCheckout()">Continue to Payment
                <object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/arrow-right.svg"
                        type="image/svg+xml"></object>
            </button>

        </div>
        <!-- Subscription - End -->

        <!-- Selected Plan -->
        <div class="--selectedPlan"
             style="opacity: 1; transform: translateX(0px); transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="plan selected ">
                <div class="--header">
                    <h3>{{plan?.title}}</h3>
                    <h5>{{selectedPeriod}} subscription</h5>
                </div>
                <div class="--features">
                    <ul *ngFor="let feature of plan?.features">
                        <li>{{feature}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Selected Plan - End -->
    </div>
    <!-- Step 2 - End -->

</div>