<div class="card-body">
    <ul class="timeline">
        <li *ngFor='let comment of comments; let i = index' [attr.data-index]='i' [ngClass]="{ 'timeline-inverted': (i+1)%2==0 , 'status': comment.status == 0}">
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{comment.date}}</h4>
                </div>
                <div class="timeline-body">
                    <p>{{comment.message}}</p>
                    <hr>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>More</button>
                        <div ngbDropdownMenu aria-labelledby="dropdown1">
                            <button class="dropdown-item" (click)="activate(comment._id)" >Active</button>
                            <button class="dropdown-item" (click)="deactivate(comment._id)">Deactive</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
