<h1 class="title">Admins Management_Search</h1>

<div class="row">
    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="firstNameSearch">firstName: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="firstNameSearchText" placeholder="firstName search"
               aria-label="Small" aria-describedby="firstNameSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="lastNameSearch">lastName: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="lastNameSearchText" placeholder="lastName search"
               aria-label="Small" aria-describedby="lastNameSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="usernameSearch">username: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="usernameSearchText" placeholder="username search"
               aria-label="Small" aria-describedby="usernameSearch">
    </div>


    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="authTypeSearch">AuthType: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="authTypeSearchText" placeholder="AuthType search"
               aria-label="Small" aria-describedby="authTypeSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <label class="input-group-text" for="statusSearch">Status: </label>
        </div>
        <select class="custom-select" [(ngModel)]="statusSearchNumber" id="statusSearch">
            <option selected value="2">All</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="col col-md-7">
        <div class="demo-tab-content">
            <div class="card mb-3">
                <div class="card-header">users
                    <button class="btn" type="button" (click)="addUserClick()"><i class="fa fa-user-plus"></i></button>
                </div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of adminUsers | usernameFilter : usernameSearchText | firstNameFilter: firstNameSearchText | lastNameFilter: lastNameSearchText | statusFilter: statusSearchNumber | authTypeFilter: authTypeSearchText  let i = index" (click)="adminClick(user)">
                        <th scope="row">{{i+1}}</th>
                        <td [ngClass]="{'status': user.status == 0}">{{user.firstName}}</td>
                        <td [ngClass]="{'status': user.status == 0}">{{user.lastName}}</td>
                        <td [ngClass]="{'status': user.status == 0}">{{user.username}}</td>
                        <td *ngIf="user.status == 1; else inactive " [ngClass]="{'status': user.status == 0}">active
                        </td>
                        <ng-template #inactive>
                            <td [ngClass]="{'status': user.status == 0}">inactive</td>
                        </ng-template>
                        <td>
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle><i
                                        class="fa fa-cogs" aria-hidden="true"></i></button>
                                <div ngbDropdownMenu aria-labelledby="dropdown1">
                                    <button class="dropdown-item" [routerLink]="['../normalUser',user._id]">More
                                    </button>
                                    <button class="dropdown-item">Another Action</button>
                                    <button class="dropdown-item">Something else</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col col-md-5">
        <!--add user form-->
        <form class="well boarder" [hidden]="addAdminHidden">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter First Name Here.." class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter Last Name Here.." class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Role</label>
                        <div (click)="clickRoleSelector()">
                        <input type="text" disabled placeholder="Click Here..." name="role" [(ngModel)]="addedAdmin.role" class="form-control" >
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Grade</label>
                        <input type="text" placeholder="Enter Grade Here.." class="form-control">
                    </div>
                </div>
                <div class="roleSelector row" [hidden]="roleSelectorHidden" >
                    <div class="dgradio-sb body col col-sm-10">
                        <input type="radio"   [(ngModel)]="roleRadiosValue" [checked]="true" class="dg-item" name="roles" id="role90" [value]="90" />
                        <label for="role90" class="dg-label dg-30"  data-caption="level 1">
                            <div class="customTooltip">User Manager
                                <span class="tooltiptext"><ul><li>permission1</li><li>permission2</li></ul></span>
                            </div> <span class="dg-bg"></span>
                        </label>

                        <input type="radio"  [(ngModel)]="roleRadiosValue" class="dg-item" name="roles" id="role91" [value]="91" />
                        <label for="role91" class="dg-label dg-60"  data-caption="level 2">
                            <div class="customTooltip">Premium Manager
                                <span class="tooltiptext"><ul><li>...</li><li>permission3</li><li>permission4</li></ul></span>
                            </div><span class="dg-bg"></span>
                        </label>
                        <!--   <input type="radio" class="dg-item" name="your-group-2" id="radio8" >
                          <label for="radio8" class="dg-label dg-100"  data-caption="half is good">
                            Half-Yearly<span class="dg-bg"></span>
                          </label> -->
                        <input type="radio" [(ngModel)]="roleRadiosValue" class="dg-item" name="roles" id="role99" [value]="99"/>
                        <label for="role99" class="dg-label dg-100"  data-caption="Super Admin!">
                            <div class="customTooltip">Full Access
                                <span class="tooltiptext"><ul><li>...</li><li>permission5</li><li>permission6</li></ul></span>
                            </div>
                            <span class="dg-bg"></span>
                        </label>
                    </div>
                    <div class="col col-sm-2"><button class="btn roleConfirmBtn" type="button" (click)="roleConfirm()">Confirm!</button></div>

                </div>

                <!--<div class="row">-->
                    <!--<div class="col-sm-6 form-group">-->
                        <!--<label>Title</label>-->
                        <!--<input type="text" placeholder="Enter Designation Here.." class="form-control">-->
                    <!--</div>-->
                    <!--<div class="col-sm-6 form-group">-->
                        <!--<label>Company</label>-->
                        <!--<input type="text" placeholder="Enter Company Name Here.." class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" placeholder="Enter Phone Number Here.." class="form-control">
                </div>
                <div class="form-group">
                    <label>Email Address(username)</label>
                    <input type="text" placeholder="Enter Email Address Here.." class="form-control">
                </div>
                <div class="form-group">
                    <label>password</label>
                    <input type="text" placeholder="Enter Website Name Here.." class="form-control">
                </div>
                <button type="button" class="btn btn-lg btn-info" (click)="submitAdminClicked()">Submit</button>
                <button type="button" class="btn btn-lg btn-info" (click)="cancelAdminClicked()">Cancel</button>
            </div>
        </form>
        <!--check user role-->
        <div id="profile" class="panel panel-info boarder" [hidden]="adminProfileHidden">
            <div class="panel-heading">
                <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic"
                             src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png"
                             class="img-circle img-responsive">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>Role:</td>
                                <td><input type="text" class="form-control" [(ngModel)]="selectedAdmin._id" id="user"></td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{selectedAdmin.authType}}</td>
                            </tr>
                            <tr>
                                <td>Grade</td>
                                <td>{{selectedAdmin.firstName}}</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>{{selectedAdmin.password}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">{{selectedAdmin.username}}</a></td>
                            </tr>

                            </tbody>
                        </table>

                        <a class="btn btn-primary">Update</a>
                        <a  class="btn btn-primary" (click)="resetPass()">Reset Password</a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>

        </div>

    </div>

</div>




