<div class="body">
<!-- Header -->
<div class="header">
    <h1>Upgrade Your Site with a Premium Plan</h1>
    <h2>14 Days Money Back Guarntee on all Premim Plans</h2>
    <!-- Breadcrumbs -->
    <div class="bread"><span>1. Select a Premium Plan</span><span>2. Select a Subscription Period</span><span>3. Complete Your Purchase</span></div>
    <div  class="back"><span>Plans</span></div>
</div>

<!-- Header - End -->

<!-- First Steps -->
<div class="step step1">
    <div class="plansWrapp">
        <!-- Single Plan -->
        <div class="plan onStage vip" style="transform: translateY(0px); opacity: 1; transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="--header">
                <h3>VIP</h3>
                <h5>Everything and more</h5>
                <span><sup>$</sup>25</span>
                <p>per month billed anually</p>
                <button data-plan="vip" data-package="plan_vip" data-dir="280" type="button"
                        onclick="step1Btn(this)" >Select</button>
            </div>
            <div class="--features">
                <ul>
                    <li>UNLIMITED Bandwidth</li>
                    <li>20GB Storage</li>
                    <li>Connect Your Domain</li>
                    <li>Remove Wix Ads</li>
                    <li>Free Domain for 1 Year</li>
                    <li>$300 Ad Vouchers</li>
                </ul>
            </div>
        </div>
        <!-- Single Plan - End -->

        <!-- Single Plan -->
        <div class="plan onStage ecom" style="transform: translateY(0px); opacity: 1; transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="--header">
                <h3>eCommerce</h3>
                <h5>Best for small businesses</h5>
                <span><sup>$</sup>17</span>
                <p>per month billed anually</p>
                <button data-plan="ecom" data-package="plan_ecom" data-dir="280" type="button"
                        onclick="step1Btn(this)">Select</button>
            </div>
            <div class="--features">
                <ul>
                    <li>UNLIMITED Bandwidth</li>
                    <li>20GB Storage</li>
                    <li>Connect Your Domain</li>
                    <li>Remove Wix Ads</li>
                    <li>Free Domain for 1 Year</li>
                </ul>
            </div>
        </div>
        <!-- Single Plan - End -->


        <!-- Single Plan -->
        <div class="plan onStage unlim popular" style="transform: translateY(0px); opacity: 1; transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="--header">
                <h3>Unlimited</h3>
                <h5>Enterpreneur & Freelancers</h5>
                <span><sup>$</sup>14</span>
                <p>per month billed anually</p>
                <button data-plan="unlim" data-package="plan_unlimited" data-package="plan_unlimited" data-dir="160" type="button"
                        onclick="step1Btn(this)">Select</button>
            </div>
            <div class="--features">
                <ul>
                    <li>UNLIMITED Bandwidth</li>
                    <li>20GB Storage</li>
                    <li>Connect Your Domain</li>
                    <li>Remove Wix Ads</li>
                    <li>Free Domain for 1 Year</li>
                </ul>
            </div>
        </div>
        <!-- Single Plan - End -->

        <!-- Single Plan -->
        <div class="plan onStage combo" style="transform: translateY(0px); opacity: 1; transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="--header">
                <h3>Combo</h3>
                <h5>Personal use</h5>
                <span><sup>$</sup>10</span>
                <p>per month billed anually</p>
                <button data-plan="combo" data-dir="20" data-package="plan_combo" type="button"
                        onclick="step1Btn(this)" >Select</button>
            </div>
            <div class="--features">
                <ul>
                    <li>UNLIMITED Bandwidth</li>
                    <li>20GB Storage</li>
                    <li>Connect Your Domain</li>
                    <li>Remove Wix Ads</li>
                    <li>Free Domain for 1 Year</li>
                </ul>
            </div>
        </div>
        <!-- Single Plan - End -->

        <!-- Single Plan -->
        <div class="plan onStage connect" style="transform: translateY(0px); opacity: 1; transition: all 680ms cubic-bezier(0.19, 1, 0.22, 1);">
            <div class="--header">
                <h3>Connect Domain</h3>
                <h5>Most Basic</h5>
                <span><sup>$</sup>5</span>
                <p>per month billed anually</p>
                <button data-plan="connect" data-dir="-120" data-package="plan_connect" type="button"
                        onclick="step1Btn(this)" >Select</button>
            </div>
            <div class="--features">
                <ul>
                    <li>UNLIMITED Bandwidth</li>
                    <li>20GB Storage</li>
                    <li>Connect Your Domain</li>
                </ul>
            </div>
        </div>
        <!-- Single Plan - End -->


    </div>
</div>
<!-- First Steps - End -->

<!--&lt;!&ndash; Step 2 &ndash;&gt;-->
<!--<div class="step step2">-->
    <!--&lt;!&ndash; Subscription &ndash;&gt;-->
    <!--<div class="&#45;&#45;subscription">-->
        <!--<h2>Select a Subscription Period</h2>-->
        <!--&lt;!&ndash; Radio Buttons Group &ndash;&gt;-->
        <!--<div class="radioWrapp">-->
            <!--<div class="singleRadio">-->
                <!--<input data-radio="Monthly" data-package=""   onclick="cycleCheck(this)" type="radio" name="radios"  id="monthy&#45;&#45;radio" />-->
                <!--<label for="radio_1"><strong>Monthly</strong> <hr> $16.00 every month</label>-->
            <!--</div>-->
            <!--<div class="singleRadio">-->
                <!--<input data-radio="Yearly" data-package="" onclick="cycleCheck(this)"  type="radio"  checked="checked" name="radios" id="yearly&#45;&#45;radio" />-->
                <!--<label  for="radio_1"><strong>Yearly</strong> <hr> $14.00 × 12 months <small>|</small> <span>Save $24</span><badge class="strong">Most Popular</badge></label>-->
            <!--</div>-->
            <!--<div class="singleRadio" >-->
                <!--<input data-radio="2 Years" onclick="cycleCheck(this)" type="radio" name="radios" id="2years&#45;&#45;radio" />-->
                <!--<label for="radio_1"><strong>2 Years</strong> <hr> $11.00 × 24 months <small>|</small> <span>Save $120</span></label>-->
            <!--</div>-->
            <!--<div class="singleRadio">-->
                <!--<input data-radio="3 Years" onclick="cycleCheck(this)" type="radio" name="radios" id="3years&#45;&#45;radio" />-->
                <!--<label for="radio_1"><strong>3 Years</strong> <hr> $10.00 × 36 months <small>|</small> <span>Save $216</span></label>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Monthly Disclaimer &ndash;&gt;-->
        <!--<div class="monthlyDisc">-->
            <!--<object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/info-tooltip.svg" type="image/svg+xml"></object><p>Monthly subscriptions do not include a free domain, premium apps and ad vouchers</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; Radio Buttons Grou - End &ndash;&gt;-->
        <!--<div class="price&#45;&#45;full">-->
            <!--<div><h5>Plan Price</h5></div>-->
            <!--<div> <badge>Save $24 Every year</badge> <h5>$168.00</h5>-->
            <!--</div>-->

        <!--</div>-->

        <!--<button id="toStep3">Continue to Payment <object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/arrow-right.svg" type="image/svg+xml"></object></button>-->
    <!--</div>-->
    <!--&lt;!&ndash; Subscription - End &ndash;&gt;-->

    <!--&lt;!&ndash; Payment &ndash;&gt;-->
    <!--<div class="&#45;&#45;payment">-->
        <!--<h2>Complete Your Purchase</h2>-->
        <!--<div class="cards">-->
            <!--<div class="card users">-->
                <!--<div class="radio">-->
                    <!--<input id="radio-5" name="radios2" type="radio" checked="checked">-->
                    <!--<label for="radio_2" class="radio-label"><div><h3>My Saved Card</h3><p>XXXX-8357 Wix Wix</p></div></label>-->
                <!--</div>-->
                <!--<span><object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/payment-visa.svg" type="image/svg+xml"></object></span>-->
            <!--</div>-->
            <!--<div class="card other">-->
                <!--<div class="radio">-->
                    <!--<input id="radio-6" name="radios2" type="radio">-->
                    <!--<label for="radio_2" class="radio-label">Use another card</label>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->


        <!--&lt;!&ndash; Details Pruchase  &ndash;&gt;-->
        <!--<div class="detPurchase">-->
            <!--<ul class="summary">-->
                <!--<li><b>Unlimited - Yearly Plan</b>-->
                    <!--<c>$ 168.00</c>-->
                <!--</li>-->
                <!--<li><b><small>Enter Promo Code</small></b>-->
                    <!--<c></c>-->
                <!--</li>-->
                <!--<li><b>VAT (17.00%)</b>-->
                    <!--<c>$ 28.56</c>-->
                <!--</li>-->
                <!--<li><b>Total</b>-->
                    <!--<c>$ 196.56</c>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; Details Pruchase - End &ndash;&gt;-->

        <!--<button id="toStep3"> <object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/Lock.svg" type="image/svg+xml"></object>Submit</button>-->

        <!--<div class="disclaimer">To ensure uninterrupted service, your subscription will automatically renew for US$ 119.34 on a monthly basis. You may disable auto-renewal or cancel your subscription at any time through your account.<br><br>By clicking Submit Purchase, you agree to-->
            <!--our Terms of Use and Privacy Policy</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Payment - End &ndash;&gt;-->


    <!--&lt;!&ndash; Selected Plan &ndash;&gt;-->
    <!--<div class="&#45;&#45;selectedPlan">-->
        <!--<div class="planSelector unlim selected">-->
            <!--<div class="&#45;&#45;header">-->
                <!--<h3>Unlimited</h3>-->
                <!--<h5>Yearly subscription</h5>-->
            <!--</div>-->
            <!--<div class="monthlyTooltip">-->
                <!--<object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/270939/pPresent.svg" type="image/svg+xml"></object>-->
                <!--<p>Select a yearly subscription-->
                    <!--<br>to get all planSelector features.</p>-->
            <!--</div>-->
            <!--<div class="&#45;&#45;features">-->
                <!--<ul>-->
                    <!--<li>UNLIMITED Bandwidth</li>-->
                    <!--<li>20GB Storage</li>-->
                    <!--<li>Connect Your Domain</li>-->
                    <!--<li>Remove Wix Ads</li>-->
                    <!--<li>Free Domain for 1 Year</li>-->
                    <!--<li>$300 Ad Vouchers</li>-->
                    <!--<li>Site Booster App - $60 Value</li>-->
                    <!--<li>Form Builder App - $48 Value</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Selected Plan - End &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; Step 2 - End &ndash;&gt;-->


</div>