<!--https://codepen.io/shivapandey/pen/dWdRYM-->

<div class="chat-box">
    <div class="chat-box-header">
        {{recipient?.firstName}} : {{subject}}
        <span class="chat-box-toggle"><i class="material-icons" (click)="closeWindow()">close</i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">
            <div *ngFor="let message of messages" class="left clearfix">
                <div *ngIf="message.fromUser?._id == selfUser._id; else elseBlock">
                    <div  class="chat-msg self">
                 <span class="msg-avatar">
                   <img src="https://image.crisp.im/avatar/operator/196af8cc-f6ad-4ef7-afd1-c45d5231387c/240/?1483361727745">
                 </span>
                        <div class="cm-msg-text">
                            {{message.content}}
                            <small>
                                <br><i class="fa fa-clock-o fa-fw"></i> 13 mins ago
                            </small>
                        </div>
                    </div>
                </div>

                <ng-template #elseBlock>
                    <div class="chat-msg user">
                 <span class="msg-avatar">
                   <img src="https://image.crisp.im/avatar/operator/196af8cc-f6ad-4ef7-afd1-c45d5231387c/240/?1483361727745">
                 </span>
                        <div class="cm-msg-text">
                            {{message.content}}
                            <small>
                                <br><i class="fa fa-clock-o fa-fw"></i>13 mins ago
                            </small>
                        </div>
                    </div>
                </ng-template>
            </div>

        </div><!--chat-log -->
    </div>
    <div class="chat-input">
        <form>
            <input type="text" name="typingMessage" id="chat-input" [(ngModel)]="typingMessage" placeholder="Send a message..."/>
            <button type="submit" class="chat-submit" id="chat-submit" (click)="sendMessage()"><i class="material-icons">send</i></button>
        </form>
    </div>
</div>