<div class="chat-box">
    <div class="chat-box-header">
        ChatBot
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">
            <div *ngFor="let message of messages" class="left clearfix">
                <div *ngIf="message.fromUser?._id != selfUser._id; else elseBlock">
                    <div id='cm-msg-1' class="chat-msg self">
                 <span class="msg-avatar">
                   <img src="https://image.crisp.im/avatar/operator/196af8cc-f6ad-4ef7-afd1-c45d5231387c/240/?1483361727745">
                  </span>
                        <div class="cm-msg-text">
                            {{message.content}}
                        </div>
                    </div>
                </div>

                <ng-template #elseBlock>
                    <div id='cm-msg-2' class="chat-msg user">
                 <span class="msg-avatar">
                   <img src="https://image.crisp.im/avatar/operator/196af8cc-f6ad-4ef7-afd1-c45d5231387c/240/?1483361727745">
                  </span>
                        <div class="cm-msg-text">
                            {{message.content}}
                        </div>
                    </div>
                </ng-template>
            </div>

        </div><!--chat-log -->
    </div>
    <div class="chat-input">
        <form>
            <input type="text" id="chat-input" placeholder="Send a message..."/>
            <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>
    </div>
</div>