<h1 class="title">Users Management_Search</h1>

<div class="row">
    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="firstNameSearch">firstName: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="firstNameSearchText" placeholder="firstName search"
               aria-label="Small" aria-describedby="firstNameSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="lastNameSearch">lastName: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="lastNameSearchText" placeholder="lastName search"
               aria-label="Small" aria-describedby="lastNameSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="usernameSearch">username: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="usernameSearchText" placeholder="username search"
               aria-label="Small" aria-describedby="usernameSearch">
    </div>


    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <span class="input-group-text" id="authTypeSearch">AuthType: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="authTypeSearchText" placeholder="AuthType search"
               aria-label="Small" aria-describedby="authTypeSearch">
    </div>

    <div class="input-group input-group-sm mb-3 col col-xl-4 col-lg-12">
        <div class="input-group-prepend">
            <label class="input-group-text" for="statusSearch">Status: </label>
        </div>
        <select class="custom-select" [(ngModel)]="statusSearchNumber" id="statusSearch">
            <option selected value="2">All</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
    </div>
</div>


<div class="row">
    <mat-tab-group class="col col-xl-8 col-lg-8 demo-tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                User1
            </ng-template>
            <div class="demo-tab-content">
                <div class="card mb-3">
                    <div class="card-header">users</div>
                    <table class="card-body table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>AuthType</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of nPHelper.pageItems | usernameFilter : usernameSearchText | firstNameFilter: firstNameSearchText | lastNameFilter: lastNameSearchText | statusFilter: statusSearchNumber | authTypeFilter: authTypeSearchText  let i = index"
                        >
                            <th scope="row">{{i+1}}</th>
                            <td [ngClass]="{'status': user.status == 0}">{{user.firstName}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.lastName}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.username}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.authType}}</td>
                            <td *ngIf="user.status == 1; else inactive " [ngClass]="{'status': user.status == 0}">
                                active
                            </td>
                            <ng-template #inactive>
                                <td [ngClass]="{'status': user.status == 0}">inactive</td>
                            </ng-template>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle><i
                                            class="fa fa-cogs" aria-hidden="true"></i></button>
                                    <div ngbDropdownMenu class="" aria-labelledby="dropdown1">
                                        <button class="dropdown-item" [routerLink]="['../normalUser',user._id]">More
                                        </button>
                                        <button class="dropdown-item">Activate</button>
                                        <button class="dropdown-item" (click)="loginAs(user._id, LogInAs)">Login As</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <ng-template #LogInAs let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">LogIn As</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Confirm to LogIn?</p>
                        </div>
                        <div class="modal-footer">
                            <p>{{loginLink}}</p>
                            <a target="_blank" href="{{loginLink}}" >LOGIN AS</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                        </div>
                    </ng-template>



                    <div >
                            <select   (change)="nPHelper.pageSizeChange($event.target.value)">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select> / page
                        <ngb-pagination class="col col-5"
                                        [collectionSize]="nPHelper.collectionSize" [pageSize]="nPHelper.pageSize" [(page)]="nPHelper.page"
                                        [maxSize]="3"
                                        [boundaryLinks]="true"
                                        (pageChange)="nPHelper.pageChange($event)"></ngb-pagination>
                    </div>
                </div>
            </div>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                User2
            </ng-template>
            <div class="demo-tab-content">
                <div class="card mb-3">
                    <div class="card-header">pre Users</div>
                    <table class="card-body table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>AuthType</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of bPHelper.pageItems | usernameFilter : usernameSearchText | firstNameFilter: firstNameSearchText | lastNameFilter: lastNameSearchText | statusFilter: statusSearchNumber | authTypeFilter: authTypeSearchText let i = index"
                        >
                            <th scope="row">{{i+1}}</th>
                            <td [ngClass]="{'status': user.status == 0}">{{user.firstName}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.lastName}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.username}}</td>
                            <td [ngClass]="{'status': user.status == 0}">{{user.authType}}</td>
                            <td *ngIf="user.status == 1; else inactive " [ngClass]="{'status': user.status == 0}">
                                active
                            </td>
                            <ng-template #inactive>
                                <td [ngClass]="{'status': user.status == 0}">inactive</td>
                            </ng-template>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdown2" ngbDropdownToggle><i
                                            class="fa fa-cogs" aria-hidden="true"></i></button>
                                    <div ngbDropdownMenu aria-labelledby="dropdown2">
                                        <button class="dropdown-item" [routerLink]="['../normalUser',user._id]">More
                                        </button>
                                        <button class="dropdown-item">Another Action</button>
                                        <button class="dropdown-item">Something else</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div >
                        <select  (change)="bPHelper.pageSizeChange($event.target.value)">
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select> / page
                        <ngb-pagination class="col col-5"
                                        [collectionSize]="bPHelper.collectionSize" [pageSize]="bPHelper.pageSize" [(page)]="bPHelper.page"
                                        [maxSize]="3"
                                        [boundaryLinks]="true"
                                        (pageChange)="bPHelper.pageChange($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

