.bg-custom {
    background-color: #555555;
}

.navbar{
    position: fixed;
    top:0;
    width: 100%;
}

#side {
    display: grid;
    grid-template-areas: "header" "content";
}

#header {
    grid-area: header;
}

#content {
    grid-area: content;
}
