<div id="site">

    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <div ngbDropdown [class.invisible]="!isAccountVisible" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{title}}<span
                            class="fa fa-user-o" aria-hidden="true"></span></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" [class.invisible]="!isSuperAdmin"
                                routerLink="dashboard/adminsManager">Manage Admin Users
                        </button>
                        <button class="dropdown-item" (click)="logoutClick()">Log Out</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="content">
        <router-outlet></router-outlet>
    </div>

</div>

