<div class="fj">
      <div class="mu blf abk">
        <div class="na" style="background-image: url(assets/img/iceland.jpg);"></div>
        <div class="mv arx">
          <a href="profile/index.html">
            <img class="blg" src={{profile?.imageUrl}}>
          </a>

          <h6 class="mw">
           {{profile?.firstName}} {{profile?.lastName}}
          </h6>

          <p class="abk">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>

          <ul class="blh">
            <li class="bli">
              <a href="#userModal" class="bjx" data-toggle="modal">
                Friends
                <h6 class="aal">12M</h6>
              </a>
            </li>

            <li class="bli">
              <a href="#userModal" class="bjx" data-toggle="modal">
                Enemies
                <h6 class="aal">1</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mu sh sp abk">
        <div class="mv">
          <h6 class="abd">About <small>· <a href="#">Edit</a></small></h6>
          <ul class="dc atd">
              <li><span class="asz h awk abc"></span>Username : {{profile?.username}}
            <li><span class="asz h awk abc"></span>role:{{profile?.role}}
            </li><li><span class="asz h biz abc"></span>Grade:{{profile?.grade}}
            </li><li><span class="asz h bax abc"></span>Status:{{profile?.status}}
            </li><li><span class="asz h bbn abc"></span>Category:{{profile?.category}}
            </li><li><span class="asz h bcw abc"></span>Phone:{{profile?.phone}}
          </li></ul>
        </div>
      </div>

       <div class="mu sh sp abk">
        <div class="mv">
          <h6 class="abd">Photos <small>· <a href="#">Edit</a></small></h6>
          <div data-grid="images" data-target-height="150"><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_5.jpg" style="width: 114px; height: 115px;">
            </div></div>
        </div>
      </div>


     <div class="mu abk ro sp">
        <div class="mv">
        <h6 class="abd">Likes</h6>
        <ul class="bkt bku">
          <li class="oq aaw">
            <img class="bkp ru uk abc" src="assets/img/avatar-fat.jpg">
            <div class="or">
              <strong>Jacob Thornton</strong> @fat
              
            </div>
          </li>
           <li class="oq">
            <a class="blq" href="#">
              <img class="bkp ru uk abc" src="assets/img/avatar-mdo.png">
            </a>
            <div class="or">
              <strong>Mark Otto</strong> @mdo
              
            </div>
          </li>
        </ul>
        </div>
        <div class="nb">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>

    </div>