.mu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.abk {
    margin-bottom: 1.5rem !important;
}

.blf .na {
    height: 150px;
    background-size: cover;
}

.na {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.na:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.arx {
    text-align: center !important;
}

.mv {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.blf .mw {
    margin-bottom: 5px;
}

.abk {
    margin-bottom: 1.5rem !important;
}

.blh {
    list-style: none;
    padding: 0;
}


ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}


.bli {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}


*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.bjx, .bjx:hover, .bjx:focus {
    color: inherit;
    text-decoration: inherit;
}

.aal {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h6, .ct {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .co, .cp, .cq, .cr, .cs, .ct {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}

.abk {
    margin-bottom: 1.5rem !important;
}


.sp {
    display: block !important;
}


.sh {
    display: block !important;
}

.abd {
    margin-bottom: 1rem !important;
}

.dc {
    padding-left: 0;
    list-style: none;
}

.asz {
    color: #868e96 !important;
}

.abc {
    margin-right: 1rem !important;
}


.bkt {
    padding-left: 0;
    list-style: none;
}

.oq, .or {
    overflow: visible;
}

.aaw {
    margin-bottom: 0.5rem !important;
}

.oq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.nb:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.nb {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}